/*
	A load of styles which I've just hacked in
	and should really be consolidated into other 
	more organised places. If this file has 
	anything in it beyond this comment then 
	you can quite legitmately say that I 
	comprehensively and commemoratively suck!
*/

.sidepad {
	padding:0 5%;
}

.header {
	border-bottom:1px solid $brand-primary;
}

.enormous {
	@include rem('font-size',8);
}

.btn {
	text-transform:uppercase;
	letter-spacing:0.05em;
}

.form-group label {
	font-size:1.2em;
	font-weight:700;
	color:$brand-primary;
}

.lead {
	margin-top:1em;
}

#main {
	position:relative;
	z-index:0;
	@include rem('padding-top',1.3);
}

.page-header {
	margin:0;
	border-color:rgba(black,0.1);
	* {
		margin:0;
	}
}

.input, .input_submit {
	width:100%;	
	@include rem('font-size',3);
	@include rem('padding',0.5);
}
.input_submit {
	background:#eee;
}

.media__button {
	display:block;
	text-align:center;
	@include rem('margin-bottom',1);

	.icon {
		@include rem('font-size',3);
	}

	&.disabled {
		opacity:0.5;
		background-color:#eee;
		pointer-events:none;
	}
}

/*
	just modify the bs call for when I use it with icons.
*/		
.icon.pull-right {
	padding-top:0.25em
}
.icon.nudge {
	position:relative;
	top:0.1em;
}

.this__story {
	margin-bottom:200px;
	.btn {
		color:rgba(white,0.5);
		font-weight:300;
	}
}

.with-space {
	@include rem("margin-bottom",5);
}

.plus {
	position:relative;
	top:-0.3em;
}
.btn .icon {
	position:relative;
	top:0.1em;
}

*[contenteditable="true"]:focus {
	box-shadow:none;
	border:none;
	outline:none;
}

.message {
	font-size:1.2em;
	padding-top:0.75em;
}