.story-block {

	max-width:640px;
	position:relative;
	padding:2em 2em;
	margin:0 0 2em;
	// box-shadow:0 0.25em 0.125em rgba(black,0.42);
	border:1px solid #eee;
	border-bottom:0.125em solid rgba(black,0.22);
	background-color:rgba(white,1);

	.edit-block {
		position:absolute;
		bottom:1em;right:1em;
		transition:all .5s ease-in;
		// opacity:0
	}

	&:hover {
		.edit-block {
			opacity:1;
		}
	}

	.when,.where {
		font-size:1em;
		color:#999;
		float:left;
	}
	.where {
		float:right;
	}
	.what {
		clear:both;
		font-size:1.5em;
	}
	.artefacts {
		height:150px;
		margin-bottom:0.5em;
	}
}