/*
	A load of styles which I've just hacked in
	and should really be consolidated into other 
	more organised places. If this file has 
	anything in it beyond this comment then 
	you can quite legitmately say that I 
	comprehensively and commemoratively suck!
*/

html {height:100%}
body {height:100%}

$left-width:0.25;

#outer-wrap {height:100%;}

#inner-wrap {
	min-height:100%;
	overflow:hidden;
}

.left-col {
	float:left;
	width:percentage($left-width);
	min-height:100%;
	background:#999;

	&:before {
		content:"blah";
		display:block;
		padding-top:9999px;
		margin-bottom:-9999px;
		background:inherit;
		height:0;
	}
}

.right-col {
	height:100%;
	width:percentage(1 - 2*$left-width);
	float:left;
	// position:relative;
	// margin-left:percentage($left-width);
}

.bottom-col {
	position:fixed;
	left:0;bottom:0;
	width:100%;
	background-color:rgba(black,0.85);
	
	
	transition: all 400ms $easeOutQuint; /* custom */
	transition-timing-function: $easeOutQuint; /* custom */
	
	// transform:translate3d(0,90px,0); 
	// &:hover {
	// 	transform:translate3d(0,0,0); 	
	// }

	// &:before {
	// 	content:'';
	// 	display:block;
	// 	position:absolute;
	// 	width:100%;
	// 	height:50px;
	// 	background:transparent;
	// 	top:-50px;
	// }
}

.story__name {
	position:relative;	
	color:white;
	@include rem("margin",1,0);

	$ease: cubic-bezier(0.345, -0.485, 0.700, 1.095);
	transition: all 400ms $ease;
	transition-timing-function: $ease;

	// transform:translate3d(0,-5px,0);
	// .bottom-col:hover & {
	// 	transform:translate3d(0,0,0);
	// }
}

textarea {
	width:100%;
	height:200px;
}

.greeting {
	// @include rem('font-size',2);
	color:rgba(white,0.9);
}

.example {
	@include font-size(1.4);
	color:rgba(black,0.42);
}

#main {
	@include rem('padding-top',1.3);
	// @include rem("padding",1.5);

	padding-bottom:150px;
}

.header {
	background-color:black;
	color:white;
}

.input, .input_submit {
	width:100%;	
	@include rem('font-size',3);
	@include rem('padding',0.5);
}
.input_submit {
	background:#eee;
}

.media__button {
	display:block;
	text-align:center;
	@include rem('margin-bottom',1);

	.icon {
		@include rem('font-size',3);
	}
}

/*
	just modify the bs call for when I use it with icons.
*/		
.icon.pull-right {
	padding-top:0.25em
}
.icon.nudge {
	position:relative;
	top:0.1em;
}

.this__story {
	.btn {
		color:rgba(white,0.5);
		font-weight:300;
	}
}

.with-space {
	@include rem("margin-bottom",5);
}

.action__label {	
	margin:0;
	@include rem('font-size',1.6);	
	@include rem('margin-top',2.4);
	@include rem('padding',1,1);
	@include rem('border-radius',0.3);
	font-weight:400;
	background-color:rgba($brand-info,0.9);	
	// color:rgba(white, 0.62);
	text-transform:uppercase;

	span {
		text-transform:none;
		font-weight:700;
	}
}

$blockh:62px;

.story__blocks {
	margin-bottom:1em;
}

.block {
	position:relative;
	display:inline-block;
	width:$blockh;
	height:$blockh;
	text-align:center;
	line-height:$blockh;
	background-color:#666;
	border:1px dashed rgba(white,0.62);
	@include rem("font-size",3);
	@include rem("margin-right",2);
	color:white;

	&:hover {
		text-decoration:none;
		color:white;
		background-color:darken($brand-info,15);
	}

	&.current {	
		background-color:$brand-primary;
		border:none;
		&:before {
		   content:"";
		   position: absolute;
		   bottom: 100%;
		   left: $blockh/4;
		   width: 0;
		   height: 0;
		   border-left: $blockh/4 solid transparent;
		   border-bottom: $blockh/8 solid $brand-primary;
		   border-right: $blockh/4 solid transparent;
		}
		pointer-events:none;
	}
}

.plus {
	position:relative;
	top:-0.3em;
}
.btn .icon {
	position:relative;
	top:0.1em;
}

*[contenteditable="true"]:focus {
	box-shadow:none;
	border:none;
	outline:none;
}

.meta__links {
	@include rem("font-size",1.4);

	.list-group-item {
		
		font-size:0.8em;
		color:$brand-primary;
		text-decoration:underline;

		&.got_content {
			font-size:1em;
			text-decoration:none;
			color:$text-color;
		}
	}

	.list-group-item.current {
		background-color:$brand-primary;
		border-color:$brand-primary;
		color:white;
		position:relative;
		&:before {
		   content:"";
		   position: absolute;
		   left: 100%;
		   top: 0.25em;
		   width: 0;
		   height: 0;
		   $ts: 1em;
		   border-top: $ts solid transparent;
		   border-left: $ts solid $brand-primary;
		   border-bottom: $ts solid transparent;
		}
	}
}
.logout__link {
	background-color:#666;
	border:none;
	color:rgba(white,0.42)
}

.display {
	position:relative;
	display:inline-block;
	width:100%;
	height:0;
	padding-top:50%;
	margin-bottom:1em;	
	border: 1px solid #ccc;	

	.the__artefacts & {		
		width:23%;
		height:0;
		padding:23% 0 0;
		margin:0 2% 0 0;
		background-color:rgba(white,0.9);
	}

	a,div {	
		$pad:2%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		width:100%;
		height:(100% - (2 * $pad));
		position:absolute;
		top:$pad;left:0;
	}
}

.the__artefacts {
	padding:0.5em;
	background-color:rgba(white,0.42);
}
.search_query {
	font-weight:bold;
}
.search_results {
	.result {
		margin-bottom:4em;
	}
	.meta {
		padding-left:0;
	}
	.name {
		font-weight:900;
		margin:0;
	}
	.image {
		background-size:cover;
		background-position:center center;
		width:100%;
		height:0;
		padding-top:100%;
	}
	.source {		
		font-size:0.6em;
		font-family:monospace;
		color:rgba(black,0.62);
	}
	.source-logo {		
		width:45px;
		float:left;
		margin:0.3em 0.5em 0 0;
	}
}
.message {
	font-size:1.2em;
	padding-top:0.75em;
}

.story-block {

	position:relative;
	padding:2em 2em;
	margin:0 0 2em;
	// box-shadow:0 0.25em 0.125em rgba(black,0.42);
	border:1px solid #eee;
	border-bottom:0.125em solid rgba(black,0.22);

	.edit-block {
		position:absolute;
		bottom:1em;right:1em;
		transition:all .5s ease-in;
		opacity:0
	}

	&:hover {
		.edit-block {
			opacity:1;
		}
	}

	.when,.where {
		font-size:0.8em;
		color:#999;
		float:left;
	}
	.where {
		float:right;
	}
	.what {
		clear:both;
	}
	.artefacts {
		height:75px;
		margin-bottom:0.5em;
	}
}

.badge {
	position:relative;
	top:-0.2em;
}

.skip__button {
	// text-decoration:underline;
	&:hover {
		// text-decoration:underline;
	}
}