$fix-mqs: false !default;

/*
ie8 and lower separate desktop stylesheet approach from here:
http://jakearchibald.github.io/sass-ie/
*/

@mixin above($width) {

	@if $fix-mqs {
        
        @if $fix-mqs gte $width { @content; }

    } @else {
        
        @media only screen and (min-width:$width) {@content;}
    }
}

@mixin below($width) {

	@if $fix-mqs {
        
        @if $fix-mqs lte $width { @content; }

    } @else {
        
        @media only screen and (max-width:$width) {@content;}
    }
}

@function pem($px, $base: 16) {

    @return round($px / $base) + em;
}

@mixin rem($att, $size, $size2:99999, $size3:99999, $size4:99999) {

    @if $size4 != 99999
    {
        #{$att}: ($size * 10) + px ($size2 * 10) + px ($size3 * 10) + px ($size4 * 10) + px;
        #{$att}: $size + rem $size2 + rem $size3 + rem $size4 + rem;
    }
    @else if $size3 != 99999
    {
        #{$att}: ($size * 10) + px ($size2 * 10) + px ($size3 * 10) + px;
        #{$att}: $size + rem $size2 + rem $size3 + rem;
    }
    @else if $size2 != 99999
    {
        #{$att}: ($size * 10) + px ($size2 * 10) + px;
        #{$att}: $size + rem $size2 + rem;
    }
    @else 
    {
        #{$att}: ($size * 10) + px;
        #{$att}: $size + rem;
    }
}

@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}